@model IEnumerable<study2.Models.Transactions>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transactions/AddOrEdit";
}


<div class="row">
    <div class="col-md-7">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TransactionsId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TransactionsId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.TransactionsId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-5 mt-sm-2">
        <div class="widget h-100 w-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-layer-group fa-6x"></i>
        </div>
    </div>
</div>

